* {
  box-sizing: border-box;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
html,
body {
  height: auto;
  background-color: #333f4d;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 570px auto auto;
}
.navbar {
  grid-row: 1;
  background: rgb(122, 21, 143);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background: -moz-linear-gradient(
    -90deg,
    rgba(122, 21, 143, 1) 15%,
    rgba(15, 68, 236, 1) 85%
  );
  background: -webkit-linear-gradient(
    -90deg,
    rgba(122, 21, 143, 1) 15%,
    rgba(15, 68, 236, 1) 85%
  );
  background: linear-gradient(
    -90deg,
    rgba(122, 21, 143, 1) 15%,
    rgba(15, 68, 236, 1) 85%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a158f",endColorstr="#0f44ec",GradientType=1);
}
.navbar h1 {
  color: white;
  font-size: 52px;
  text-align: center;
  transition: 0.4s;
}
.guru-image-container {
  grid-row: 2;
  width: 100%;
  margin-top: 25px;
}
.image-container-left,
.image-container-right {
  position: absolute;
  height: 450px;
  width: 65%;
  transition: all 0.9s;
  background-size: contain;
}
.image-container-left {
  clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
}
.image-container-right {
  right: 0;
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
}
.image-container-left:hover,
.image-container-right:hover {
  transform: scale(1.09);
}
.image-container-left:hover {
  z-index: 2;
}
.guru-img-left,
.guru-img-right {
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.guru-img-left {
  object-fit: cover;
  margin-left: 50%;
  margin-top: 40%;
  /* animation: 2s ease-out 0s 1 slideInFromLeft; */
}

.guru-img-right {
  position: absolute;
  left: 50%;
  top: 80%;
  /* animation: 2s ease-out 0s 1 slideInFromRight; */
}

.overlay-left,
.overlay-right {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}
.overlay-left {
  background: rgb(122, 21, 143);
  background: linear-gradient(
    -90deg,
    rgba(122, 21, 143, 0.15449929971988796) 15%,
    rgba(122, 21, 143, 0.7987570028011204) 77%
  );
}
.overlay-right {
  left: 100%;
  background: rgb(15, 68, 236);
  background: linear-gradient(
    -90deg,
    rgba(15, 68, 236, 0.7987570028011204) 17%,
    rgba(15, 68, 236, 0.14889705882352944) 80%
  );
}
.image-container-left:hover .overlay-left {
  width: 100%;
}
.image-container-right:hover .overlay-right {
  width: 100%;
  left: 0;
}
.text-left,
.text-right {
  color: white;
  font-size: 36px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid rgb(155, 155, 155);
}
.text-left {
  top: 60%;
  left: 28%;
}
.overlay-left-btn-grid {
  margin-left: 65%;
  margin-top: 325px;
  width: 500px;
}
.overlay-left button {
  position: absolute;
  background-color: rgb(20, 67, 221);
  font-size: 1.3vw;
  font-weight: 500;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 3px;
  /* top: 54%;
  left: 72%; */
  cursor: pointer;
  white-space: nowrap;
  left: 30%;
}
.overlay-left button:nth-child(2) {
    left: 7%;
}
.overlay-left button:hover{
  background-color:rgb(35, 66, 168);
  transition-duration: 0.7s;
}
.text-right {
  top: 42%;
  left: 72%;
}
.overlay-right-btn-grid {
  margin-left: 65%;
  margin-top: 250px;
  width: 500px;
}
.overlay-right button {
  position: absolute;
  background-color: rgb(122, 21, 143);
  font-size: 1.3vw;
  font-weight: 500;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 3px;
  /* top: 54%;
  left: 72%; */
  cursor: pointer;
  white-space: nowrap;
  right: 10%;
}
.overlay-right button:nth-child(2) {
  /* left: 52%; */
  right: 29%;
}
.overlay-right button:hover{
  background-color: rgb(96, 24, 110);
  transition-duration: 0.7s;
}

.welcome-message-container{
  grid-column: 1;
  grid-row: 4;
  display: grid;
  grid-template-columns: auto 80% auto;
  grid-template-rows: auto;
}
.welcome-message-grid{
  grid-column: 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: auto 65% 25% auto;
  grid-template-rows: repeat(auto-fill, minmax(0, auto));;
  background-color: #e2e9f1;
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.64);
  -moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.64);
  box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.64);
  border-radius: 4px;
  padding: 15px;
}
.welcome-message-grid > h1 {
  grid-column: 2 / 4;
  grid-row: 1;
  font-size: 42px;
  text-align: center;
}
.welcome-message-grid > img {
  grid-column: 2;
  grid-row: 2;
  height: 12px;
}
.welcome-message-grid > p {
  grid-column: 2;
  grid-row: 2;
  font-size: 18px;
  margin: 0; 
  padding: 0;
}







.animation-slide-left{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
.animation-slide-right{
  animation: 1s ease-out 0s 1 slideInFromRight;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
