$color-background: #f0f0f0;
$color-main: #008891;
$color-secondary: #00587a;
$color-secondary-dark: #0f3057;

@import "./_tags";

.nbsp {
  margin-left: 3em;
}

.border-shadow {
  border-radius: 4px;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.45);
}

.page-grid {
  display: grid;
  grid-template-columns: minmax(350px, auto) 2fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(0, auto));
  padding: 8px;
  padding-top: 25px;
}
.navbar-grid {
  grid-column: 1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  padding-top: 100px;
}
.navbar {
  height: 500px;
  width: auto;
  background-color: $color-secondary;
  position: sticky;
  top: 55px;
  border-radius: 4px;
  color: $color-background;
  text-align: center;
}
.center-content-container {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fill, minmax(0, auto));
  padding: 40px 30px 40px 30px;
}
.center-content-grid {
  display: grid;
  grid-template-columns: minmax(300px, auto);
  grid-template-rows: repeat(auto-fit, auto);
  padding-left: 5%;
}

.center-content {
  grid-column: 1;
  display: grid;
  height: auto;
  width: auto;
  background: rgb(15, 48, 87);
  background: rgb(15, 48, 87);
  background: linear-gradient(
    165deg,
    rgba(15, 48, 87, 1) 45%,
    rgba(20, 73, 135, 1) 100%
  );
  color: white;
  margin-bottom: 25px;
  padding: 10px;
}
.center-content h1 {
  text-align: center;
  font-size: 36px;
  margin: 0;
  border-bottom: 1px solid gray;
}
.center-content p {
  font-size: 18px;
}
@import "./mobile";
