@import "./_variables";
@import "./_tags";

.border-shadow {
  border-radius: 4px;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.45);
}

.page-grid {
  display: grid;
  grid-template-columns: minmax(350px, 22%) 1fr 25%;
  grid-template-rows: repeat(auto-fill, minmax(0, auto));
  padding: 8px;
  padding-top: 25px;
}
.navbar-grid {
  grid-column: 1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  padding-top: 100px;
}
.navbar {
  height: 750px;
  width: auto;
  background-color: $color-secondary;
  position: sticky;
  top: 55px;
  border-radius: 4px;
  margin-right: 15px;
}
.center-content-container {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(auto-fill, minmax(0, auto));
  background-color: $color-main;
  padding: 40px 30px 40px 30px;
}
.center-content-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 215px 215px 300px;
  padding: 5%;
  column-gap: 40px;
}

.center-content-grid:nth-child(even) {
  grid-column: 1/-1;
}
.center-content-grid:nth-child(odd) {
  grid-column: 2;
}
.center-content-diamond {
  display: grid;
  height: 300px;
  width: 300px;
  background-color: $color-secondary-dark;
  color: white;
  transform: rotate(-45deg);
  transition: 365ms;
}
.center-content-diamond h1 {
  text-align: center;
  margin: 0;
}
.center-content-diamond:hover {
  transform: rotate(0deg);
  transform: scale(1.15);
  cursor: pointer;
}
.center-content-diamond:nth-child(3n + 1) {
  grid-column: 2;
  grid-row: 1;
}
.center-content-diamond:nth-child(3n + 2) {
  grid-column: 1;
  grid-row: 2;
}
.center-content-diamond:nth-child(3n + 0) {
  grid-column: 2;
  grid-row: 3;
}
.collapsible {
  outline: none;
}
.content {
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
@import "./mobile";
