<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- /Meta Tags -->

  <!-- Links -->
  <link rel="stylesheet" href="../Public/CSS/custom-styles.css" />
  <!-- /Links -->

  <title>Game Gurus</title>
</head>

<body>
  <div class="page-grid">
    <div class="navbar">
      <a class='navbar-btn-1' href='../../index.html'>
        Home
      </a>
      <a class='navbar-btn-2' href='./top-ten.html'>
        My Top 10 Games
      </a>
      <h1 id='navbar'>The Game Gurus</h1>
    </div>

    <img class='img-banner' src="../Public/Images/Guru-Andrea.png" />




    <div class='footer'>
    </div>

  </div>

  <script>

    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      // For Navbar
      if (document.body.scrollTop > 180 || document.documentElement.scrollTop > 180) {
        document.getElementById("navbar").style.fontSize = "36px";
      } else {
        document.getElementById("navbar").style.fontSize = "52px";
      }
      // For Navbar
    }
  </script>

</body>

</html>