<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- /Meta Tags -->

    <!-- Links -->
    <link rel="stylesheet" href="../Public/CSS/custom-styles.css" />
    <!-- /Links -->

    <title>Game Gurus</title>
</head>

<body>
    <div class="page-grid">
        <div class="navbar">
            <a class='navbar-btn-1' href='../../index.html'>
                Home
            </a>
            <a class='navbar-btn-2' href='./game-of-the-week.html'>
                My Game of the Week
            </a>
            <h1 id='navbar'>The Game Gurus</h1>
        </div>

        <img class='img-banner' src="../Public/Images/Guru-Andrea.png" />


        <div class='top-ten-grid'>

            <h1 class='top-ten-header-text'>My Top 10 Classics</h1>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/metroid.jpg'>
                </div>
                <div class='top-ten-item-desc'>
                    Metroid
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/legend-of-zelda.png'>
                </div>
                <div class='top-ten-item-desc'>
                    The Legend of Zelda
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/mega-man.jpg'>
                </div>
                <div class='top-ten-item-desc'>
                    Mega Man
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/mario-bros.png'>
                </div>
                <div class='top-ten-item-desc'>
                    Mario Bros
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/bubble-bobble.jpg'>
                </div>
                <div class='top-ten-item-desc'>
                    Bubble Bobble
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/doom.png'>
                </div>
                <div class='top-ten-item-desc'>
                    Doom
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/pac-man.png'>
                </div>
                <div class='top-ten-item-desc'>
                    Pac-Man
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/galaga.jpg'>
                </div>
                <div class='top-ten-item-desc'>
                    Galaga
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/contra.jpg'>
                </div>
                <div class='top-ten-item-desc'>
                    Contra
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/super-smash-bros.jpg'>
                </div>
                <div class='top-ten-item-desc'>
                    Super Smash Bros.
                </div>
            </div>
            <div class='top-ten-item border-shadow'>
                <div class='top-ten-item-image'>
                    <img src='../Public/Images/Guru-1-Imgs/animal-crossing.jpg'>
                </div>
                <div class='top-ten-item-desc'>
                    Animal Crossing
                </div>
            </div>
        </div>



        <div class='footer'>
        </div>

    </div>

    <script>

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            // For Navbar
            if (document.body.scrollTop > 180 || document.documentElement.scrollTop > 180) {
                document.getElementById("navbar").style.fontSize = "36px";
            } else {
                document.getElementById("navbar").style.fontSize = "52px";
            }
            // For Navbar
        }
    </script>

</body>

</html>